@page
@model StudentsTesting1.Pages.Admin.AddSubjectModel
@using StudentsTesting1.Logic.Users;
@using StudentsTesting1.Logic.Subjects;
@using StudentsTesting1.Logic.Groups;
@{
    ViewData["Title"] = "Предмети";
}

@section Navigation{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="AddTeacher">Викладачі</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="AddStudent">Студенти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="AddGroup">Групи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="AddSubject">Предмети</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page-handler="Logout">Вийти</a>
        </li>
    </ul>
}

<h1>Предмети</h1>

<h3>Створити новий предмет</h3>
<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label>Введіть назву предмету</label><br />
            <input name="subjectTitle" id="subjectTitle" required />
            <span asp-validation-for="subjectTitle" />
        </div>
        <div class="form-group">
            <label>Виберіть викладача для предмету</label><br />
            <select name="teacherID" id="teacherID" required />
            @foreach (Teacher teacher in Model.teachers)
            {
                <option value="@teacher.teacherID">@String.Concat(teacher.firstName, " ", teacher.lastName)</option>
            }
            <select />
            <span asp-validation-for="teacherID" />
        </div>
        <div class="form-group">
            <input type="submit" asp-page-handler="CreateSubject" value="Створити" class="btn btn-outline-dark" />
        </div>
    </div><br />
</form>
<h3>Призначити предмет групі</h3>
<form method="post">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label>Виберіть предмет</label><br />
            <select name="subjectId" id="subjectId" required />
            @foreach (Subject subject in Model.subjects)
            {
                <option value="@subject.id">@subject.subjectTitle</option>
            }
            <select />
            <span asp-validation-for="subjectId" />
        </div>
        <div class="form-group">
            <label>Виберіть групу</label><br />
            <select name="group" id="group" required />
            @foreach (Group group in Model.groups)
            {
                <option value="@group.title">@group.title</option>
            }
            <select />
            <span asp-validation-for="group" />
        </div>
        <div class="form-group">
            <input type="submit" asp-page-handler="AssignSubject" value="Призначити" class="btn btn-outline-dark" />
        </div>
    </div><br />
</form>
    <table cellpadding="1" cellspacing="0" border="1">
        <tr>
            <td>Предмет</td>
            <td>Викладач</td>
        </tr>
        @foreach (Subject subject in Model.subjects)
        {
            <tr>
                <td>@subject.subjectTitle</td>
                <td>@subject.teacherName</td>
            </tr>
        }
    </table>


